.gallery__cards {
  width: 100%;
  max-width: 340px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__image {
    width: 100%;
    min-height: 255px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 130px;
    padding: 10px;
  }
}
