.dropdown {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    &__about {
      width: 100%;
      @include center-y;
      margin-bottom: 2em;
      flex-direction: column;
      &__title {
        color: white;
        width: 80%;
        max-width: 1024px;
        padding: 0px 10px;
        margin: 0;
        @include center-y;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius: 5px;
        height: 45px;
        z-index: 2;
      }
      &__content {
        padding: 1.5em 10px;
        border-radius: 5px;
        color: $primary-color;
        background-color: $second-color;
        width: 80%;
        font-size: 1em;
        line-height: 1.5;
      }
    }
  }
}
