.gallery {
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &__rent {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 6em;
  }
}
