header {
  .navigation {
    margin: 20px;
    margin-top: 2vw;
    &__bar {
      display: flex;
      justify-content: space-between;
    }
    &__link {
      @include center-y;
      column-gap: 4vw;
    }
    span {
      position: absolute;
      min-width: 200px;
      width: 23vw;
      font-size: 24px;
      color: white;
    }
    .navigation__banner__main {
      width: 100%;
    }
  }
}
