$primary-color: #ff6060;
$second-color: #f7f7f7;
$back-color: black;

body {
  margin: auto;
  max-width: 1440px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

footer {
  background-color: $back-color;
  margin: auto;
  max-width: 1400px;
}
